
/* 단과대별 이름 */
.uni_name {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold; /* 글씨를 볼드체로 설정 */
    color: #004A2F;
    margin: 10px 0 10px 0; /* 위아래 간격 추가 */
    position: relative; /* ::before 및 ::after에 위치 설정을 위해 추가 */
}

.uni_name::before,
.uni_name::after {
    content: "";
    position: absolute;
    width: 80%; /* 80%만 차지하도록 설정 */
    height: 2px; /* 줄의 두께 */
    background-color: #004A2F; /* 녹색 줄 */
    left: 10%; /* 양쪽 여백을 균등하게 설정 */
}

.uni_name::before {
    top: 0; /* 위쪽 줄 */
}

.uni_name::after {
    bottom: 0; /* 아래쪽 줄 */
}

.gallery {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}


.photo-set {
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.photo-set img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

