/* 편지 이미지 슬라이더 스타일 */
.letter-slider {
  position: relative;
  width: 90%; /* 부모 요소의 너비에 맞추기 */
  height: 100%; /* 화면 높이에 맞게 설정, 필요에 따라 조정 */
  overflow: hidden;
  padding: 30px;
}

.letter-slides-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.letter-slide {
  width: 100%;
  min-width: 200px; /* 각 사진의 너비 */
  margin: 0 10px; /* 사진 간의 간격 */
  height: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞게 조정 */
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.letter-slider {
  -webkit-overflow-scrolling: touch; /* 부드러운 스크롤을 위한 설정 (iOS용) */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.letter-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}

